*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

header {
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  height: 40px;
}
header .nav-menu {
  display: flex;
  align-items: center;
}
header .nav-menu__list {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
}
header .nav-menu__list_li_link {
  text-decoration: none;
}
header .nav-menu__list_li_link p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  color: #000000;
  margin: 0 32px;
}
header .nav-menu__list_li_link p::after {
  content: "";
  width: 0px;
  height: 2px;
  display: block;
  background: #000000;
  transition: 200ms;
}
header .nav-menu__list_li_link p:hover::after {
  width: 100%;
}
header .nav-menu__list_li_link .active {
  color: #2b60eb;
}
header .nav-menu__list_li_link .active::after {
  content: "";
  width: 0px;
  height: 2px;
  display: block;
  background: #2b60eb;
  transition: 200ms;
}
header .nav-menu__list_li_link .active:hover::after {
  width: 100%;
}
header .nav-menu__buttons {
  display: flex;
  align-items: center;
}
header .nav-menu__buttons_btn {
  border: 0;
  background: transparent;
  cursor: pointer;
}
header .nav-menu__buttons_btn svg circle {
  fill: #ffffff;
  transition: 200ms;
}
header .nav-menu__buttons_btn svg path {
  fill: black;
  transition: 200ms;
}
header .nav-menu__buttons_btn svg:hover circle {
  fill: #2b60eb;
}
header .nav-menu__buttons_btn svg:hover path {
  fill: white;
}
header .nav-menu__buttons_btn_container {
  margin-left: 18px;
}
header .nav-menu__buttons_btn_container p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #000000;
}

body {
  min-height: 100%;
}

.swiper {
  width: 100%;
}
.swiper .eye-active {
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
  margin-bottom: 10px;
  transition: opacity 0.2s linear;
  transform: translate(0);
  opacity: 1;
}
.swiper .eye-active.hidden {
  transform: translate(9999px);
  opacity: 0;
}
.swiper .eye-inactive {
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
  margin-bottom: 10px;
  transition: opacity 0.2s linear;
  transform: translate(0);
  opacity: 1;
}
.swiper .eye-inactive.hidden {
  transform: translate(9999px);
  opacity: 0;
}
.swiper-pagination {
  background: url("data:image/svg+xml,%3Csvg width='382' height='2' viewBox='0 0 382 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.7' d='M1 0.999817L381 0.9998' stroke='%23B9D7EA' stroke-linecap='square'/%3E%3C/svg%3E%0A") 50% no-repeat, url("data:image/svg+xml,%3Csvg width='164' height='6' viewBox='0 0 164 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='2.99999' cy='2.99982' r='3' transform='rotate(-90 2.99999 2.99982)' fill='%23B9D7EA'/%3E%3Ccircle cx='82' cy='2.99982' r='3' transform='rotate(-90 82 2.99982)' fill='%23B9D7EA'/%3E%3Ccircle cx='161' cy='2.99982' r='3' transform='rotate(-90 161 2.99982)' fill='%23B9D7EA'/%3E%3C/svg%3E%0A") 50% 50% no-repeat;
  transition: opacity 0.2s linear;
  transform: translate(0);
  opacity: 1;
}
.swiper-pagination.hidden {
  transform: translate(9999px);
  opacity: 0;
}
.swiper-pagination-bullet {
  width: 28px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  font-size: 14px;
  color: #000;
  opacity: 1;
  background: #f7fbfc;
  border: #2b60eb 1px solid;
  margin: 0 25px !important;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  text-align: center;
  color: #000000;
}
.swiper-button-disabled {
  display: none;
}
.swiper-pagination-bullet-active {
  background: #2b60eb;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  text-align: center;
  color: #f7fbfc;
}
.swiper-button-next {
  margin: 0;
  transition: right ease 0.5s;
  right: 20px;
}
.swiper-button-next:after {
  content: url("data:image/svg+xml,%3Csvg width='70' height='77' viewBox='0 0 70 77' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26 4L59 38L27 71.5L20.5 70L18 65L43.5 38L18 11L20.5 6L26 4Z' fill='%23ffffff'/%3E%3Cpath d='M24.4595 73.3906C23.1136 73.3862 21.799 72.9838 20.6812 72.2339C19.5635 71.484 18.6926 70.4202 18.1781 69.1765C17.6636 67.9327 17.5286 66.5646 17.79 65.2442C18.0513 63.9239 18.6975 62.7104 19.647 61.7564L42.8914 38.5L19.647 15.2436C18.4401 13.9534 17.7818 12.2446 17.8113 10.4781C17.8407 8.7116 18.5556 7.0257 19.8049 5.77643C21.0541 4.52716 22.74 3.81232 24.5065 3.78287C26.273 3.75342 27.9818 4.41166 29.272 5.61859L57.3529 33.6875C58.6225 34.9674 59.3349 36.6972 59.3349 38.5C59.3349 40.3028 58.6225 42.0326 57.3529 43.3125L29.284 71.3934C28.652 72.029 27.9001 72.5328 27.072 72.8756C26.2438 73.2184 25.3558 73.3935 24.4595 73.3906ZM24.4595 6.01562C23.588 6.01803 22.7367 6.2783 22.0128 6.76364C21.2889 7.24898 20.7249 7.93769 20.3917 8.74301C20.0585 9.54833 19.9711 10.4342 20.1404 11.2891C20.3098 12.1441 20.7284 12.9297 21.3434 13.5472L45.4059 37.6097C45.5187 37.7215 45.6082 37.8546 45.6693 38.0012C45.7303 38.1478 45.7618 38.3051 45.7618 38.4639C45.7618 38.6227 45.7303 38.78 45.6693 38.9266C45.6082 39.0732 45.5187 39.2063 45.4059 39.3181L21.3434 63.3806C20.5184 64.2102 20.0552 65.3327 20.0552 66.5027C20.0552 67.6728 20.5184 68.7952 21.3434 69.6249C22.1862 70.4246 23.3037 70.8704 24.4655 70.8704C25.6273 70.8704 26.7449 70.4246 27.5876 69.6249L55.6565 41.6161C56.0661 41.2071 56.3911 40.7214 56.6128 40.1867C56.8345 39.652 56.9487 39.0788 56.9487 38.5C56.9487 37.9212 56.8345 37.348 56.6128 36.8133C56.3911 36.2786 56.0661 35.7929 55.6565 35.3839L27.5876 7.30297C26.7549 6.47897 25.631 6.01642 24.4595 6.01562Z' fill='black'/%3E%3C/svg%3E%0A");
}
.swiper-button-next:hover {
  right: 10px;
}
.swiper-button-next:hover::after {
  content: url("data:image/svg+xml,%3Csvg width='70' height='77' viewBox='0 0 70 77' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26 4L59 38L27 71.5L20.5 70L18 65L43.5 38L18 11L20.5 6L26 4Z' fill='%232B60EB'/%3E%3Cpath d='M24.4595 73.3906C23.1136 73.3862 21.799 72.9838 20.6812 72.2339C19.5635 71.484 18.6926 70.4202 18.1781 69.1765C17.6636 67.9327 17.5286 66.5646 17.79 65.2442C18.0513 63.9239 18.6975 62.7104 19.647 61.7564L42.8914 38.5L19.647 15.2436C18.4401 13.9534 17.7818 12.2446 17.8113 10.4781C17.8407 8.7116 18.5556 7.0257 19.8049 5.77643C21.0541 4.52716 22.74 3.81232 24.5065 3.78287C26.273 3.75342 27.9818 4.41166 29.272 5.61859L57.3529 33.6875C58.6225 34.9674 59.3349 36.6972 59.3349 38.5C59.3349 40.3028 58.6225 42.0326 57.3529 43.3125L29.284 71.3934C28.652 72.029 27.9001 72.5328 27.072 72.8756C26.2438 73.2184 25.3558 73.3935 24.4595 73.3906ZM24.4595 6.01562C23.588 6.01803 22.7367 6.2783 22.0128 6.76364C21.2889 7.24898 20.7249 7.93769 20.3917 8.74301C20.0585 9.54833 19.9711 10.4342 20.1404 11.2891C20.3098 12.1441 20.7284 12.9297 21.3434 13.5472L45.4059 37.6097C45.5187 37.7215 45.6082 37.8546 45.6693 38.0012C45.7303 38.1478 45.7618 38.3051 45.7618 38.4639C45.7618 38.6227 45.7303 38.78 45.6693 38.9266C45.6082 39.0732 45.5187 39.2063 45.4059 39.3181L21.3434 63.3806C20.5184 64.2102 20.0552 65.3327 20.0552 66.5027C20.0552 67.6728 20.5184 68.7952 21.3434 69.6249C22.1862 70.4246 23.3037 70.8704 24.4655 70.8704C25.6273 70.8704 26.7449 70.4246 27.5876 69.6249L55.6565 41.6161C56.0661 41.2071 56.3911 40.7214 56.6128 40.1867C56.8345 39.652 56.9487 39.0788 56.9487 38.5C56.9487 37.9212 56.8345 37.348 56.6128 36.8133C56.3911 36.2786 56.0661 35.7929 55.6565 35.3839L27.5876 7.30297C26.7549 6.47897 25.631 6.01642 24.4595 6.01562Z' fill='black'/%3E%3C/svg%3E%0A");
}
.swiper-button-prev {
  margin: 0;
  transition: left ease 0.5s;
  left: 20px;
}
.swiper-button-prev:after {
  content: url("data:image/svg+xml,%3Csvg width='70' height='77' viewBox='0 0 70 77' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M44 4L11 38L43 71.5L49.5 70L52 65L26.5 38L52 11L49.5 6L44 4Z' fill='%23ffffff'/%3E%3Cpath d='M45.5404 73.3906C46.8864 73.3862 48.201 72.9838 49.3187 72.2339C50.4364 71.484 51.3073 70.4202 51.8218 69.1765C52.3363 67.9327 52.4714 66.5646 52.21 65.2442C51.9486 63.9239 51.3025 62.7104 50.3529 61.7564L27.1086 38.5L50.3529 15.2436C51.5599 13.9534 52.2181 12.2446 52.1887 10.4781C52.1592 8.7116 51.4444 7.0257 50.1951 5.77643C48.9458 4.52716 47.2599 3.81232 45.4934 3.78287C43.7269 3.75342 42.0182 4.41166 40.7279 5.61859L12.647 33.6875C11.3774 34.9674 10.665 36.6972 10.665 38.5C10.665 40.3028 11.3774 42.0326 12.647 43.3125L40.7159 71.3934C41.3479 72.029 42.0998 72.5328 42.928 72.8756C43.7561 73.2184 44.6441 73.3935 45.5404 73.3906ZM45.5404 6.01562C46.4119 6.01803 47.2633 6.2783 47.9871 6.76364C48.711 7.24898 49.2751 7.93769 49.6083 8.74301C49.9415 9.54833 50.0289 10.4342 49.8595 11.2891C49.6902 12.1441 49.2716 12.9297 48.6565 13.5472L24.594 37.6097C24.4813 37.7215 24.3918 37.8546 24.3307 38.0012C24.2696 38.1478 24.2381 38.3051 24.2381 38.4639C24.2381 38.6227 24.2696 38.78 24.3307 38.9266C24.3918 39.0732 24.4813 39.2063 24.594 39.3181L48.6565 63.3806C49.4816 64.2102 49.9447 65.3327 49.9447 66.5027C49.9447 67.6728 49.4816 68.7952 48.6565 69.6249C47.8137 70.4246 46.6962 70.8704 45.5344 70.8704C44.3726 70.8704 43.2551 70.4246 42.4123 69.6249L14.3434 41.6161C13.9338 41.2071 13.6088 40.7214 13.3871 40.1867C13.1654 39.652 13.0513 39.0788 13.0513 38.5C13.0513 37.9212 13.1654 37.348 13.3871 36.8133C13.6088 36.2786 13.9338 35.7929 14.3434 35.3839L42.4123 7.30297C43.245 6.47897 44.3689 6.01642 45.5404 6.01562Z' fill='black'/%3E%3C/svg%3E");
}
.swiper-button-prev:hover {
  left: 10px;
}
.swiper-button-prev:hover::after {
  content: url("data:image/svg+xml,%3Csvg width='70' height='77' viewBox='0 0 70 77' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M44 4L11 38L43 71.5L49.5 70L52 65L26.5 38L52 11L49.5 6L44 4Z' fill='%232B60EB'/%3E%3Cpath d='M45.5404 73.3906C46.8864 73.3862 48.201 72.9838 49.3187 72.2339C50.4364 71.484 51.3073 70.4202 51.8218 69.1765C52.3363 67.9327 52.4714 66.5646 52.21 65.2442C51.9486 63.9239 51.3025 62.7104 50.3529 61.7564L27.1086 38.5L50.3529 15.2436C51.5599 13.9534 52.2181 12.2446 52.1887 10.4781C52.1592 8.7116 51.4444 7.0257 50.1951 5.77643C48.9458 4.52716 47.2599 3.81232 45.4934 3.78287C43.7269 3.75342 42.0182 4.41166 40.7279 5.61859L12.647 33.6875C11.3774 34.9674 10.665 36.6972 10.665 38.5C10.665 40.3028 11.3774 42.0326 12.647 43.3125L40.7159 71.3934C41.3479 72.029 42.0998 72.5328 42.928 72.8756C43.7561 73.2184 44.6441 73.3935 45.5404 73.3906ZM45.5404 6.01562C46.4119 6.01803 47.2633 6.2783 47.9871 6.76364C48.711 7.24898 49.2751 7.93769 49.6083 8.74301C49.9415 9.54833 50.0289 10.4342 49.8595 11.2891C49.6902 12.1441 49.2716 12.9297 48.6565 13.5472L24.594 37.6097C24.4813 37.7215 24.3918 37.8546 24.3307 38.0012C24.2696 38.1478 24.2381 38.3051 24.2381 38.4639C24.2381 38.6227 24.2696 38.78 24.3307 38.9266C24.3918 39.0732 24.4813 39.2063 24.594 39.3181L48.6565 63.3806C49.4816 64.2102 49.9447 65.3327 49.9447 66.5027C49.9447 67.6728 49.4816 68.7952 48.6565 69.6249C47.8137 70.4246 46.6962 70.8704 45.5344 70.8704C44.3726 70.8704 43.2551 70.4246 42.4123 69.6249L14.3434 41.6161C13.9338 41.2071 13.6088 40.7214 13.3871 40.1867C13.1654 39.652 13.0513 39.0788 13.0513 38.5C13.0513 37.9212 13.1654 37.348 13.3871 36.8133C13.6088 36.2786 13.9338 35.7929 14.3434 35.3839L42.4123 7.30297C43.245 6.47897 44.3689 6.01642 45.5404 6.01562Z' fill='black'/%3E%3C/svg%3E");
}

.swiper-slide {
  background: url(../img/Polygon_2.svg) 0px -10vh no-repeat, url(../img/Polygon_3.svg) 2vw 55vh no-repeat, url(../img/Polygon_4.svg) 80vw 25vh no-repeat;
}

.main {
  display: flex;
  padding: 70px 0;
}
.main__text {
  display: flex;
  flex-direction: column;
  margin: 40px 0 0 170px;
  width: 50%;
}
.main__text_top {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}
.main__text_top_heading {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.2;
  color: #000000;
}
.main__text_top_heading span {
  color: #2b60eb;
}
.main__text_top_paragraph {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.4;
  display: flex;
  align-items: center;
  color: #000000;
  border-left: 3px solid #000000;
  padding-left: 20px;
  margin-top: 5px;
  border-radius: 2.5px;
}
.main__text_bottom {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin-left: 180px;
  margin-top: 50px;
}
.main__text_bottom_heading {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
}
.main__text_bottom_heading span {
  color: #2b60eb;
}
.main__text_bottom_paragraph {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.4;
  display: flex;
  align-items: center;
  color: #000000;
  border-left: 3px solid #000000;
  padding-left: 20px;
  margin-top: 5px;
  border-radius: 2.5px;
}
.main__img {
  display: flex;
  width: 50%;
  justify-content: center;
}
.main__img_container {
  display: flex;
  position: relative;
  align-items: center;
  transition: 200ms;
}
.main__img_container:hover {
  transform: scale(105%);
}
.main__img_container_pic {
  height: 400px;
  z-index: 2;
  filter: drop-shadow(-19px -25px 17px rgba(162, 162, 162, 0.12)) drop-shadow(17px 9px 17px rgba(162, 162, 162, 0.12));
  border-radius: 30px;
}
.main__img_container_svg-1 {
  position: absolute;
  z-index: 1;
  left: 50px;
  top: 40px;
}
.main__img_container_svg-2 {
  position: absolute;
  top: 375px;
  left: -75px;
}
.main__dot-square {
  position: absolute;
}
.main__dot-circle {
  position: absolute;
  right: 0;
  top: 90%;
}
.main__disc-right {
  position: absolute;
  right: 0;
  top: 70%;
}
.main__disc-left {
  position: absolute;
  top: 60%;
}

footer {
  background: url(../img/footer_bg.svg) 0 0/cover no-repeat;
  padding: 80px 0 10px 0;
}
footer .footer-txt {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 112%;
  letter-spacing: -0.005em;
  color: #f7fbfc;
  margin: 0 20px;
}/*# sourceMappingURL=index.css.map */