*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

header {
  padding: 0 50px;
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  height: 40px;
}
header .nav-menu {
  display: flex;
  align-items: center;
}
header .nav-menu__list {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
}
header .nav-menu__list_li.contact {
  display: flex;
  position: relative;
}
header .nav-menu__list_li.contact:hover .nav-menu__list_li_link_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .nav-menu__list_li.contact:hover .nav-menu__list_li_link p {
  color: #2b60eb;
}
header .nav-menu__list_li.contact:hover .nav-menu__list_li_link p::after {
  width: 100%;
}
header .nav-menu__list_li.contact:hover .nav-menu__list_li_link p svg line {
  stroke: #2b60eb;
}
header .nav-menu__list_li_link {
  text-decoration: none;
}
header .nav-menu__list_li_link > p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  color: #000000;
  margin: 0 32px;
  white-space: nowrap;
}
header .nav-menu__list_li_link > p::after {
  content: "";
  width: 0px;
  height: 2px;
  display: block;
  background: #2b60eb;
  transition: 200ms;
}
header .nav-menu__list_li_link > p:hover::after {
  width: 100%;
}
header .nav-menu__list_li_link > p:hover {
  color: #2b60eb;
}
header .nav-menu__list_li_link > p:hover svg line {
  stroke: #2b60eb;
}
header .nav-menu__list_li_link > p svg line {
  stroke: #000000;
}
header .nav-menu__list_li_link .active {
  color: #2b60eb;
}
header .nav-menu__list_li_link .active::after {
  content: "";
  width: 0px;
  height: 2px;
  display: block;
  background: #2b60eb;
  transition: 200ms;
}
header .nav-menu__list_li_link .active:hover::after {
  width: 100%;
}
header .nav-menu__list_li_link_container {
  display: none;
  position: absolute;
  z-index: 3;
  padding-top: 5px;
  top: 23px;
  left: 50%;
  transform: translateX(-50%);
}
header .nav-menu__list_li_link_container_contact-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  background: linear-gradient(180deg, rgba(214, 217, 242, 0.42) 23.27%, rgba(214, 217, 242, 0.6) 84.91%);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 30px;
  min-width: 315px;
}
header .nav-menu__list_li_link_container_contact-dropdown_a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #f7fbfc;
  padding: 10px;
  background: rgba(43, 96, 235, 0.9);
  border: 1px solid #2b60eb;
  border-radius: 150px;
  min-width: 225px;
  margin: 15px 0;
  text-decoration: none;
  transition: background-color 200ms linear, border 200ms linear;
}
header .nav-menu__list_li_link_container_contact-dropdown_a:hover {
  background: #000000;
  border: 1px solid #000000;
}
header .nav-menu__buttons {
  display: flex;
  align-items: center;
}
header .nav-menu__buttons_btn {
  border: 0;
  background: transparent;
  cursor: pointer;
}
header .nav-menu__buttons_btn svg circle {
  fill: #ffffff;
  transition: 200ms;
}
header .nav-menu__buttons_btn svg path {
  fill: black;
  transition: 200ms;
}
header .nav-menu__buttons_btn_container {
  margin-left: 18px;
  display: flex;
  flex-direction: column;
  height: 40px;
  margin-top: 4px;
}
header .nav-menu__buttons_btn_container p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1;
  color: #000000;
}
header .nav-menu__buttons_btn.readress {
  position: relative;
}
header .nav-menu__buttons_btn.readress .readress__container {
  display: none;
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  padding-top: 5px;
}
header .nav-menu__buttons_btn.readress .readress__container_dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  background: linear-gradient(180deg, rgba(214, 217, 242, 0.42) 23.27%, rgba(214, 217, 242, 0.6) 84.91%);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 30px;
  min-width: 315px;
}
header .nav-menu__buttons_btn.readress .readress__container_dropdown_a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #f7fbfc;
  padding: 10px;
  background: rgba(43, 96, 235, 0.9);
  border: 1px solid #2b60eb;
  border-radius: 150px;
  width: 225px;
  margin: 15px 0;
  text-decoration: none;
  transition: background-color 200ms linear, border 200ms linear;
}
header .nav-menu__buttons_btn.readress .readress__container_dropdown_a:hover {
  background: #000000;
  border: 1px solid #000000;
}
header .nav-menu__buttons_btn.readress:hover svg circle {
  fill: #2b60eb;
}
header .nav-menu__buttons_btn.readress:hover svg path {
  fill: white;
}
header .nav-menu__buttons_btn.readress:hover .readress__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 890px) {
  header {
    padding: 0 5px;
  }
  header .nav-menu__list_li_link > p {
    font-size: 18px;
    margin: 0 13px;
  }
}
@media screen and (max-width: 768px) {
  header .nav-menu {
    display: none;
  }
}
header.dark {
  background-color: #141414;
}
header.dark .logo path {
  fill: white;
}
header.dark .logo .ruble {
  fill: #141414;
}
header.dark .nav-menu__list_li_link p {
  color: #ffffff;
}
header.dark .nav-menu__list_li_link p svg line {
  stroke: #ffffff;
}
header.dark .nav-menu__list_li_link p::after {
  background-color: #00ADB5;
}
header.dark .nav-menu__list_li_link p:hover {
  color: #00ADB5;
}
header.dark .nav-menu__list_li_link p:hover svg line {
  stroke: #00ADB5;
}
header.dark .nav-menu__list_li_link .active {
  color: #00ADB5;
}
header.dark .nav-menu__list_li_link .active::after {
  background-color: #00ADB5;
}
header.dark .nav-menu__list_li.contact:hover .nav-menu__list_li_link p {
  color: #00ADB5;
}
header.dark .nav-menu__list_li.contact:hover .nav-menu__list_li_link p svg line {
  stroke: #00ADB5;
}
header.dark .nav-menu__list_li.contact:hover .nav-menu__list_li_link_container_contact-dropdown {
  background: linear-gradient(180deg, rgba(57, 62, 70, 0.42) 23.27%, rgba(57, 62, 70, 0.6) 84.91%);
}
header.dark .nav-menu__list_li.contact:hover .nav-menu__list_li_link_container_contact-dropdown_a {
  background: #00ADB5;
  border: #00ADB5 1px solid;
}
header.dark .nav-menu__list_li.contact:hover .nav-menu__list_li_link_container_contact-dropdown_a:hover {
  background: #ffffff;
  border: #ffffff 1px solid;
  color: #141414;
}
header.dark .nav-menu__buttons_btn.readress svg circle {
  fill: #141414;
}
header.dark .nav-menu__buttons_btn.readress svg path {
  fill: #ffffff;
}
header.dark .nav-menu__buttons_btn.readress:hover svg circle {
  fill: #00ADB5;
}
header.dark .nav-menu__buttons_btn.readress:hover svg path {
  fill: #141414;
}
header.dark .nav-menu__buttons_btn.readress:hover .readress__container_dropdown {
  background: linear-gradient(180deg, rgba(57, 62, 70, 0.42) 23.27%, rgba(57, 62, 70, 0.6) 84.91%);
}
header.dark .nav-menu__buttons_btn.readress:hover .readress__container_dropdown_a {
  background: #00ADB5;
  border: #00ADB5 1px solid;
}
header.dark .nav-menu__buttons_btn.readress:hover .readress__container_dropdown_a:hover {
  background: #ffffff;
  border: #ffffff 1px solid;
  color: #141414;
}
header.dark .nav-menu__buttons_btn.theme img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(110deg) brightness(105%) contrast(104%);
}
header.dark .nav-menu__buttons_btn.theme p {
  color: #ffffff;
}

body {
  min-height: 100%;
  background: url(../img/Polygon_2.svg) 0px 0vh no-repeat, url(../img/Polygon_3.svg) 2vw 95% no-repeat, url(../img/Polygon_4.svg) 80vw 27vh no-repeat, url(../img/disc.svg) 0 50vh no-repeat, url(../img/dots.svg) 0 15vh no-repeat, url(../img/disc-right.svg) 95vw 70% no-repeat, url(../img/dots-circle.svg) 97vw 90% no-repeat;
}
@media screen and (max-width: 630px) {
  body {
    background: url(../img/Polygon_2.svg) 0px 0vh no-repeat, url(../img/Polygon_3.svg) 2vw 95% no-repeat, url(../img/Polygon_4.svg) 80vw 27vh no-repeat, url(../img/disc.svg) 0 50vh/35px no-repeat, url(../img/dots.svg) 0 15vh/50px no-repeat, url(../img/disc-right.svg) 95vw 70% no-repeat, url(../img/dots-circle.svg) 90vw 81%/40px no-repeat;
  }
}

main {
  padding: 100px 0;
  min-height: 750px;
  display: flex;
  flex-wrap: wrap;
  min-height: 910px;
}
main .buisness-token {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
}
main .buisness-token__heading {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #000000;
  justify-content: center;
}
main .buisness-token__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
  position: relative;
}
main .buisness-token__grid_item {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, rgba(214, 217, 242, 0.42) 23.27%, rgba(214, 217, 242, 0.6) 84.91%);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 30px;
  height: 170px;
  width: 250px;
  transition: 200ms;
}
main .buisness-token__grid_item:hover {
  transform: scale(105%);
}
main .buisness-token__grid_item:nth-child(odd) {
  justify-self: end;
}
main .buisness-token__grid_item:nth-child(even) {
  justify-self: start;
}
main .buisness-token__grid_dot-circle {
  position: absolute;
  right: 9vw;
  bottom: -2vh;
  transform: rotate(180deg);
  z-index: -1;
}
main .real-estate-token {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
}
main .real-estate-token__heading {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #000000;
  justify-content: center;
}
main .real-estate-token__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
  position: relative;
}
main .real-estate-token__grid_item {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, rgba(214, 217, 242, 0.42) 23.27%, rgba(214, 217, 242, 0.6) 84.91%);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 30px;
  height: 170px;
  width: 250px;
  transition: 200ms;
}
main .real-estate-token__grid_item:hover {
  transform: scale(105%);
}
main .real-estate-token__grid_item:nth-child(odd) {
  justify-self: end;
}
main .real-estate-token__grid_item:nth-child(even) {
  justify-self: start;
}
main .real-estate-token__grid_dot-circle {
  position: absolute;
  left: 9vw;
  top: -2vh;
  z-index: -1;
}
@media screen and (max-width: 1029px) {
  main .buisness-token {
    margin-bottom: 20px;
  }
  main .buisness-token__heading {
    margin-bottom: 20px;
  }
  main .real-estate-token__heading {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 580px) {
  main {
    padding: 50px 0;
  }
  main .buisness-token__grid {
    grid-template-columns: 1fr;
  }
  main .buisness-token__grid_item {
    justify-self: center !important;
  }
  main .real-estate-token__grid {
    grid-template-columns: 1fr;
  }
  main .real-estate-token__grid_item {
    justify-self: center !important;
  }
}
@media screen and (max-width: 470px) {
  main .buisness-token__heading {
    font-size: 22px;
  }
  main .real-estate-token__heading {
    font-size: 22px;
  }
}
main.dark {
  background-color: #141414;
}
main.dark .buisness-token__heading {
  color: #ffffff;
}
main.dark .buisness-token__grid_item {
  background: linear-gradient(180deg, rgba(57, 62, 70, 0.42) 23.27%, rgba(57, 62, 70, 0.6) 84.91%);
  z-index: 2;
}
main.dark .buisness-token__grid_dot-circle {
  z-index: 1;
  filter: invert(99%) sepia(3%) saturate(126%) hue-rotate(245deg) brightness(114%) contrast(100%);
}
main.dark .real-estate-token__heading {
  color: #ffffff;
}
main.dark .real-estate-token__grid_item {
  background: linear-gradient(180deg, rgba(57, 62, 70, 0.42) 23.27%, rgba(57, 62, 70, 0.6) 84.91%);
  z-index: 2;
}
main.dark .real-estate-token__grid_dot-circle {
  z-index: 1;
  filter: invert(99%) sepia(3%) saturate(126%) hue-rotate(245deg) brightness(114%) contrast(100%);
}

footer {
  background: url(../img/footer_bg.svg) 0 0/cover no-repeat;
  padding: 80px 0 10px 0;
}
footer .footer-txt {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 112%;
  letter-spacing: -0.005em;
  color: #f7fbfc;
  margin: 0 20px;
}
@media screen and (max-width: 769px) {
  footer {
    padding: 160px 0 10px 0;
  }
  footer .footer-txt {
    width: 70%;
  }
}
footer.dark {
  background: url(../img/footer-bg-dark.svg) 0 0/cover no-repeat;
  background-color: #141414;
}
footer.dark .footer-txt {
  color: #141414;
}/*# sourceMappingURL=marketplace.css.map */