*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

header {
  padding: 0 50px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  height: 40px;
}
header .nav-menu {
  display: flex;
  align-items: center;
}
header .nav-menu__list {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
}
header .nav-menu__list_li.contact {
  display: flex;
  position: relative;
}
header .nav-menu__list_li.contact:hover .nav-menu__list_li_link_contact-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .nav-menu__list_li.contact:hover .nav-menu__list_li_link p {
  color: #2b60eb;
}
header .nav-menu__list_li.contact:hover .nav-menu__list_li_link p::after {
  width: 100%;
}
header .nav-menu__list_li.contact:hover .nav-menu__list_li_link p svg line {
  stroke: #2b60eb;
}
header .nav-menu__list_li_link {
  text-decoration: none;
}
header .nav-menu__list_li_link > p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  color: #000000;
  margin: 0 32px;
}
header .nav-menu__list_li_link > p::after {
  content: "";
  width: 0px;
  height: 2px;
  display: block;
  background: #2b60eb;
  transition: 200ms;
}
header .nav-menu__list_li_link > p:hover::after {
  width: 100%;
}
header .nav-menu__list_li_link > p:hover {
  color: #2b60eb;
}
header .nav-menu__list_li_link > p:hover svg line {
  stroke: #2b60eb;
}
header .nav-menu__list_li_link > p svg line {
  stroke: #000000;
}
header .nav-menu__list_li_link .active {
  color: #2b60eb;
}
header .nav-menu__list_li_link .active::after {
  content: "";
  width: 0px;
  height: 2px;
  display: block;
  background: #2b60eb;
  transition: 200ms;
}
header .nav-menu__list_li_link .active:hover::after {
  width: 100%;
}
header .nav-menu__list_li_link_contact-dropdown {
  display: none;
  position: absolute;
  z-index: 3;
  padding: 20px 0;
  background: linear-gradient(180deg, rgba(214, 217, 242, 0.42) 23.27%, rgba(214, 217, 242, 0.6) 84.91%);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 30px;
  min-width: 315px;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}
header .nav-menu__list_li_link_contact-dropdown_a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #f7fbfc;
  padding: 10px;
  background: rgba(43, 96, 235, 0.9);
  border: 1px solid #2b60eb;
  border-radius: 150px;
  min-width: 225px;
  margin: 15px 0;
  text-decoration: none;
  transition: background-color 200ms linear, border 200ms linear;
}
header .nav-menu__list_li_link_contact-dropdown_a:hover {
  background: #000000;
  border: 1px solid #000000;
}
header .nav-menu__buttons {
  display: flex;
  align-items: center;
}
header .nav-menu__buttons_btn {
  border: 0;
  background: transparent;
  cursor: pointer;
}
header .nav-menu__buttons_btn svg circle {
  fill: #ffffff;
  transition: 200ms;
}
header .nav-menu__buttons_btn svg path {
  fill: black;
  transition: 200ms;
}
header .nav-menu__buttons_btn_container {
  margin-left: 18px;
  display: flex;
  flex-direction: column;
  height: 40px;
  margin-top: 4px;
}
header .nav-menu__buttons_btn_container p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1;
  color: #000000;
}
header .nav-menu__buttons_btn.readress {
  position: relative;
}
header .nav-menu__buttons_btn.readress .readress_dropdown {
  display: none;
  position: absolute;
  padding: 20px 0;
  z-index: 3;
  background: linear-gradient(180deg, rgba(214, 217, 242, 0.42) 23.27%, rgba(214, 217, 242, 0.6) 84.91%);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 30px;
  min-width: 315px;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
}
header .nav-menu__buttons_btn.readress .readress_dropdown_a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: #f7fbfc;
  padding: 10px;
  background: rgba(43, 96, 235, 0.9);
  border: 1px solid #2b60eb;
  border-radius: 150px;
  min-width: 225px;
  margin: 15px 0;
  text-decoration: none;
  transition: background-color 200ms linear, border 200ms linear;
}
header .nav-menu__buttons_btn.readress .readress_dropdown_a:hover {
  background: #000000;
  border: 1px solid #000000;
}
header .nav-menu__buttons_btn.readress:hover svg circle {
  fill: #2b60eb;
}
header .nav-menu__buttons_btn.readress:hover svg path {
  fill: white;
}
header .nav-menu__buttons_btn.readress:hover .readress_dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  background: url(../img/footer_bg.svg) 0 0/cover no-repeat;
  padding: 80px 0 10px 0;
}
footer .footer-txt {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 112%;
  letter-spacing: -0.005em;
  color: #f7fbfc;
  margin: 0 20px;
}/*# sourceMappingURL=node.css.map */