@import "_nullstyle";
$blue: #2b60eb;
$gray: #b9d7ea;
$pink: #d6d9f2;
$milky: #f7fbfc;
header {
  padding: 0 50px;
  margin-top: 5px;
  .logo {
    height: 40px;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  .nav-menu {
    display: flex;
    align-items: center;
    &__list {
      display: flex;
      flex-flow: row nowrap;
      list-style: none;
      &_li {
        &_link {
          text-decoration: none;
          p {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 1;
            color: #000000;
            margin: 0 32px;
            &::after {
              content: "";
              width: 0px;
              height: 2px;
              display: block;
              background: #000000;
              transition: 200ms;
            }
            &:hover::after {
              width: 100%;
            }
          }
          .active {
            color: $blue;
            &::after {
              content: "";
              width: 0px;
              height: 2px;
              display: block;
              background: $blue;
              transition: 200ms;
            }
            &:hover::after {
              width: 100%;
            }
          }
        }
      }
    }
    &__buttons {
      display: flex;
      align-items: center;
      &_btn {
        border: 0;
        background: transparent;
        cursor: pointer;
        svg {
          circle {
            fill: #ffffff;
            transition: 200ms;
          }
          path {
            fill: black;
            transition: 200ms;
          }
          &:hover {
            circle {
              fill: $blue;
            }
            path {
              fill: white;
            }
          }
        }
        &_container {
         margin-left: 18px;
         display: flex;
         flex-direction: column;
         height: 40px;
         margin-top: 4px;
          p {
            font-family: "Montserrat";
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 1;
            color: #000000;
          }
        }
      }
    }
  }
}
